@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

/* ALL MAIN STYLE */
* { margin: 0; padding: 0; }
body {
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
}

/* ANIMATIONS KEYFRAMES */

/* POP OUT WHILE IN THE CENTER OF THE SCREEN */
@keyframes pop-up {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}  

/* ----------------------------------------------------------------------------------------------- */
/* INPUT CONATINER CSS */

/* POP UP CONTAINER */
.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 580px;
    height: 350px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    animation: pop-up 0.4s;
}

/* BHASKARA AND PYTHAGORAS OPTION CHOICE */
#math {
    cursor: pointer;
    
    outline: 0;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;

    border: 1px solid gray;
    background-color: white;
}
/* WHEN FOCUS OR HOVER ON OPTIONS, MAKE A BLUE SHADOW */
#math:focus, #math:hover,
.bhaskara-options li input:focus,
.pythagoras-options li input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
}

/* BHASKARA a-b-c OPTIONS */
.bhaskara-options li {
    margin-top: 20px;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    user-select: none;
}
.bhaskara-options li input {
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    outline: 0;
}

/* PYTHAGORAS a-b OPTIONS */
.pythagoras-options {
    display: none;
}
.pythagoras-options li {
    margin-top: 20px;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    user-select: none;
}
.pythagoras-options input {
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    outline: 0;
}

/* SUBMIT BUTTON */
#submit-btn {
    cursor: pointer;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    background-color: cornflowerblue;
    font-size: 20px;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    transition: 0.2s ease;
}
#submit-btn:hover,
#submit-btn:focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

/* ----------------------------------------------------------------------------------------------- */
/* OUTPUT CSS */

/* OUTPUT CONTAINER */
.out {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 20px 80px;
    border-radius: 20px;

    background-color: white;
}

/* OUTPUT RESULTS X1 AND X2 STYLE */
.results{
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.results div:nth-child(1){
    margin-left: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.results div:nth-child(2){
    margin-left: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

/* REDO BUTTON */
#redo-btn {
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    background-color: cornflowerblue;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    transition: 0.2s ease
}
#redo-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}


/* COPYRIGHT (c) */
.copy{
    padding-top: 20px;
}

.copy a{
    text-decoration: none;
    color: darkslateblue;
}

.copy a:hover{
    color: white;
    background-color: darkslateblue;
}


/* ----------------------------------------------------------------------------------------------- */
/* SMALL SCREEENS CSS */

/* TABLET */
@media screen and ( max-width: 670px ){
    .pop-up{    
        transform: translate(-50%, -50%) scale(0.8);
        height: 500px;
        font-size: 30px;
    }
    .bhaskara-options{
        display: flex;
        flex-direction: column;
    }
    .bhaskara-options li{
        padding: 10px;
        margin: 0px;
    }
    .copy{
        font-size: 17px;
    }

    .out{
        transform: translate(-50%, -50%) scale(0.6);
        font-size: 30px;
        width: 400px;
    }
}

/* COMMON SCREEENS */
@media screen and ( max-width: 540px ){
    .pop-up{
        transform: translate(-50%, -50%) scale(0.6);
        height: 500px;
        font-size: 30px;
    }
}

/* SMALLER SCREENS */
@media screen and ( max-width: 390px ){
    .pop-up{
        width: 400px;
    }
    .copy{
        padding: 10px;
        margin-top: 20px;
        text-align: center;
    }
    .out{
        transform: translate(-50%, -50%) scale(0.58);
        font-size: 17px;
        width: 280px;
    }
}